Node Red Json Format/NodeRedJSON.JSON
[{"id":"d490353c74f1856d","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"1e309dfab3c53e63","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":2,"width":0,"height":0,"name":"Location","label":"Location:","format":"{{msg.payload}}","layout":"col-center","className":"","x":400,"y":60,"wires":[]},{"id":"65aa5da7002ca08d","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Location/Name/Country","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":60,"wires":[["1e309dfab3c53e63"]]},{"id":"03e218c0b711416a","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Time","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":120,"wires":[["469cfd64ca6c89c8"]]},{"id":"469cfd64ca6c89c8","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":3,"width":0,"height":0,"name":"Date","label":"Date:","format":"{{msg.payload}}","layout":"col-center","className":"","x":350,"y":120,"wires":[]},{"id":"f8fd7f535f7b6ff2","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Temp","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":180,"wires":[["8e9e77b93fd6082a"]]},{"id":"8e9e77b93fd6082a","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":4,"width":0,"height":0,"name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"col-center","className":"","x":330,"y":180,"wires":[]},{"id":"2c28995f99ee0f6b","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":5,"width":0,"height":0,"name":"Humidity","label":"Humidity:","format":"{{msg.payload}}","layout":"col-center","className":"","x":340,"y":240,"wires":[]},{"id":"bef736fac8332c0b","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":6,"width":0,"height":0,"name":"Conditions","label":"Condition:","format":"{{msg.payload}}","layout":"col-center","className":"","x":350,"y":300,"wires":[]},{"id":"4e8b46abf68487c6","type":"ui_text","z":"d490353c74f1856d","group":"986ba5739798d576","order":7,"width":0,"height":0,"name":"Wind","label":"Wind:","format":"{{msg.payload}}","layout":"col-center","className":"","x":390,"y":360,"wires":[]},{"id":"5c98717b9e884dcb","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Hum","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":240,"wires":[["2c28995f99ee0f6b"]]},{"id":"3678f590d742b80d","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Cond","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":300,"wires":[["bef736fac8332c0b"]]},{"id":"527f2d701ff967be","type":"mqtt in","z":"d490353c74f1856d","name":"","topic":"Wind/Speed/Direction","qos":"2","datatype":"auto-detect","broker":"33293a20f26ac5de","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":360,"wires":[["4e8b46abf68487c6"]]},{"id":"c0313ee11fc2816c","type":"ui_button","z":"d490353c74f1856d","name":"","group":"986ba5739798d576","order":8,"width":0,"height":0,"passthru":false,"label":"Press Me!","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-check","payload":"hey","payloadType":"str","topic":"button","topicType":"msg","x":620,"y":80,"wires":[["9f1ce4351e4c58b1"]]},{"id":"9f1ce4351e4c58b1","type":"mqtt out","z":"d490353c74f1856d","name":"","topic":"button","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"33293a20f26ac5de","x":850,"y":80,"wires":[]},{"id":"986ba5739798d576","type":"ui_group","name":"Information","tab":"66f328c0dd640bf2","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"33293a20f26ac5de","type":"mqtt-broker","name":"mosquitto","broker":"MQTT://MQTT.eclipseprojects.io","port":"1883","clientid":"Snoopy","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"66f328c0dd640bf2","type":"ui_tab","name":"Weather Resume","icon":"dashboard","order":1,"disabled":false,"hidden":false}]